<!DOCTYPE html>
<html>
<head>
    <title>パスワード変更</title>
</head>
<body>
     <h1>パスワード変更</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="password1">新しいパスワード:</label>
            <input type="password" id="password1" name="password1" required>
        </div>
        <div>
            <label for="password2">新しいパスワード（確認）:</label>
            <input type="password" id="password2" name="password2" required>
        </div>
        <button type="submit">変更</button>
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>